# Data Science Tools and Ecosystem

## Author
John Bowyer-Smyth

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Create lists and tables using markdown
- Perform basic arithetic oprations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Plotly

| Data Science Tools |
| ------------------- |
| RSudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print("Hours:", hours)

Hours: 3.3333333333333335